.footerCopyRightDivStyle {
  background-color: var(--copyRight-background-color);
  color: var(--white-text-color);
  padding: 1rem;
  text-align: center;

  .titleStyle {
    font-size: 0.8rem !important;
    line-height: 24px !important;
    font-weight: 600;
  }
}