.buttonMainDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 140px;
  min-height: 40px;
  border-radius: 8px;
  background-color: var(--button-background-color);
  border: 2.5px solid var(--border-indigo-color);
  color: var(--white-text-color);
  text-align: center;
  padding: 10px 20px;
  transition: all 0.3s ease-in;

  &:hover {
    // box-shadow: var(--button-box-shadow);
    background-color: transparent;
    color: var(--button-background-color);

    .loaderDivStyle {
      p {
        color: var(--button-background-color);
      }

      span {
        border-color: var(--button-background-color) !important;
      }
    }
  }
}

.loaderDivStyle {
  display: flex;
  align-items: center;
  justify-content: center;

  :nth-child(1) {
    width: auto !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
    padding-right: 0.4rem !important;
  }

  span {
    border-color: var(--white-text-color) !important;
  }
}

.textStyle {
  font-size: 18px !important;
  font-weight: 700 !important;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .buttonMainDiv {
    min-width: 135px;
    min-height: 45px;
  }

  .loaderDivStyle {
    :nth-child(1) {
      font-size: 16px !important;
      font-weight: 600 !important;
      line-height: normal !important;
    }
  }

  .textStyle {
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: normal !important;
  }
}
