.mainDivStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #000000;
}

//2nd loader scc

// .spinnercontainer {
//   width: 250px;
//   height: 250px;
//   position: relative;
//   margin: 30px auto;
//   overflow: hidden;
// }

// .spinner {
//   position: absolute;
//   width: calc(100% - 9.9px);
//   height: calc(100% - 9.9px);
//   border: 7px solid transparent;
//   border-radius: 50%;
//   border-top-color: #ffffff;
//   animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.79) infinite;
// }

// @keyframes spin {
//   from {
//     transform: rotate(0deg);
//   }

//   to {
//     transform: rotate(360deg);
//   }
// }




//3rd loader css

#page {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#h3 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 2.5rem;
}

#ring {
  width: 350px;
  height: 350px;
  border: 5px solid transparent;
  border-radius: 50%;
  position: absolute;
}

#ring:nth-child(1) {
  border-bottom: 8px solid rgb(255, 141, 249);
  animation: rotate1 2s linear infinite;
}

@keyframes rotate1 {
  from {
    transform: rotateX(50deg) rotateZ(110deg);
  }

  to {
    transform: rotateX(50deg) rotateZ(470deg);
  }
}

#ring:nth-child(2) {
  border-bottom: 8px solid rgb(255, 65, 106);
  animation: rotate2 2s linear infinite;
}

@keyframes rotate2 {
  from {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
  }

  to {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
  }
}

#ring:nth-child(3) {
  border-bottom: 8px solid rgb(0, 255, 255);
  animation: rotate3 2s linear infinite;
}

@keyframes rotate3 {
  from {
    transform: rotateX(20deg) rotateY(130deg) rotateZ(450deg);
  }

  to {
    transform: rotateX(20deg) rotateY(130deg) rotateZ(90deg);
  }
}

#ring:nth-child(4) {
  border-bottom: 8px solid rgb(252, 183, 55);
  animation: rotate4 2s linear infinite;
}

@keyframes rotate4 {
  from {
    transform: rotateX(70deg) rotateZ(270deg);
  }

  to {
    transform: rotateX(70deg) rotateZ(630deg);
  }
}

@media (max-width: 420px){
  #h3 {
    color: #FFFFFF;
    font-size: 1.8rem;
  }
  
  #ring {
    width: 250px;
    height: 250px;
  }
}


.loaderStyle{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}